{% extends "users/base.html" %}

{% block contents %}
  <div class="row mt-5">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">아이디</th>
            <th scope="col">작성일</th>
            <th scope="col">수정일</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            {% for bbs in bbslist %}
            <th scope="row">{{ bbs.id }}</th>
            <td>
              <a href="{% url 'bbs:detail' bbs.id %}">{{ bbs.title }}</a>
            </td>
            <td>{{ bbs.writer }}</td>
            <td>{{ bbs.create_at }}</td>
            <td>{{ bbs.update_at }}</td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
      <a href="{% url 'bbs:write' %}" class="btn btn-primary">글쓰기</a>
    </div>
  </div>
{% endblock %}
